:root {
  --primary: #ffff00;
  --white: #ffffff;
  --black: #000000;
  --grey: #C0C0C0
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input {
  appearance: none;
  outline: none;
  border: none;
  background: none;
}

input[type="submit"] {
  font-family: "Monaco", monospace, sans-serif;
  padding: 1rem;
  background-color: var(--primary);
  border-radius: 1rem;
  margin: 5px;
}

.logo {
  display: inline-block;
  padding-top: 0;
  position: relative;
  font-family: "Monaco", monospace, sans-serif;
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 8px;
  padding: 0.5rem;
  padding-right: calc(1rem - 5px);
  border: 2px solid var(--black);
  text-align: center;
  color: var(--black);
  margin-bottom: 1.5rem;
}

.button-21 {
  align-items: center;
  appearance: none;
  background-color: var(--primary);
  background-image: linear-gradient(1deg, #265ce3, var(--grey) 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd, sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s, background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-21:active,
.button-21:focus {
  outline: none;
}

.button-21:hover {
  background-position: -20px -20px;
}

.button-21:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}

router-link {
  text-decoration: none;
}